<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page not found!</title>
  </head>
  <body
    style="
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <div
      style="
        text-align: center;
        font-family: system-ui, sans-serif;
        color: gray;
      "
    >
      <h1 style="font-size: 10rem; margin: 0">404</h1>
      <p style="font-size: 2rem">Page not found!</p>
    </div>
  </body>
</html>
